@{
    ViewData["Title"] = "Perfil";
}

<style>
    #my-login-page .brand {
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        margin: 40px auto;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
        position: relative;
        z-index: 1;
    }

        #my-login-page .brand img {
            width: 100%;
        }

    #my-login-page .card-wrapper {
        width: 400px;
    }

    #my-login-page .card {
        border-color: transparent;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
    }

        #my-login-page .card.fat {
            padding: 10px;
        }

        #my-login-page .card .card-title {
            margin-bottom: 30px;
        }

    #my-login-page .form-control {
        border-width: 2.3px;
    }

    #my-login-page .form-group label {
        width: 100%;
    }

    #my-login-page .btn.btn-block {
        padding: 12px 10px;
    }
    
    #my-login-page .footer {
        margin: 40px 0;
        color: #888;
        text-align: center;
    }

    body {
        background-image: url('BackGround.png')
    }
    }
</style>
<!DOCTYPE html>
<style>
    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }
</style>


<head>
    <title>Login</title>
    <link rel='stylesheet' href='styles.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <center>
        <section class="text-center">
            <!-- Background image -->
            <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
            <!-- Background image -->

            <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
                <div class="card-body py-5 px-md-5">

                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="fw-bold mb-5">Iniciar Sesión</h2>
                            <form action="Verify" method="post">
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label for="email">E-Mail Address</label>
                                    <input id="emailTextBox" placeholder="Mail" type="text" class="form-control" name="Mail" value="" required autofocus/>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input name="Password" type="password" id="passwordTextBox" class="form-control" />
                                    <label class="form-label" for="form3Example4">Password</label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Iniciar Sesión
                                </button>

                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>or sign up with:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </center>>
</body>