
    <div class="d-flex" style="background-color: #F1F4FA;">
        <!-- Sidebar -->
        <div id="sidebar-container" style="background-color: #FFFFFF;">
            <div class="logo">
                <img src="https://joal.net/img/ijalti-logo.jpg" style="width:155px;height:50px;">
            </div>
            <div class="menu">
                <a href="#" class="d-block p-3" style="color: #99B2C6;"><i class="icon ion-md-apps mr-2 lead" style="color: #99B2C6;"></i> Dashboard</a>
                <a href="#" class="d-block p-3" style="color: #99B2C6;"><i class="icon ion-md-stats mr-2 lead" style="color: #99B2C6;"></i> Usuarios</a>
                <a href="#" class="d-block p-3" style="color: #99B2C6;"><i class="icon ion-md-briefcase mr-2 lead" style="color: #99B2C6;"></i> Empresas</a>

            </div>
            <div class="footerProfile">
                <div class="col-sm-4 center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 34px; height:34px;">
                    <a style="padding-left:10px;">Maximiliano</a>
                    <i class="icon ion-md-exit" onclick="signOut(this)" style="padding-left: 12px; padding-top: 4px; cursor:pointer;"></i>
                </div>
            </div>
        </div>
        <!-- Sidebar -->

        <!--Middle container-->
        <div class="usersPage">
            <div class="titleDash">
                Usuarios
            </div>
            <div class="row ml-3 pt-3">
                <div class="col-sm-3">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" style="color: #06152B;">
                            Nombre
                            <ul class="dropdown-menu">
                                <l class="dropdown-item">Nombre (A-Z)</l>
                                <l class="dropdown-item">Nombre (Z-A)</l>
                                <l class="dropdown-item">Apellido (A-Z)</l>
                                <l class="dropdown-item">Apellido (Z-A)</l>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3"><a style="color: #06152B;">Email</a></div>
                <div class="col-sm-3"><a style="color: #06152B;">Titulo</a></div>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" style="color: #06152B;">
                            Estatus
                            <ul class="dropdown-menu">
                                <l class="dropdown-item">Empleado</l>
                                <l class="dropdown-item">Sin empleo</l>
                            </ul>
                        </a>
                    </div>
                </div>
                    <div class="colCal">

                    </div>
                </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Maximiliano Villegas Garcia</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">maxivillegas115@gmail.com</div>
                            <div class="col-sm-3 pl-3 center">Diseñador UI/UX</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Emmanuel Humberto Solórzano Cabrera</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">emahumsol@hotmail.com</div>
                            <div class="col-sm-3 pl-3 center">Departamento de mercadotecnia</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Gerardo Díaz López</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">gediazl1212@gmail.com</div>
                            <div class="col-sm-3 pl-3 center">Desarrollador Web</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Lucas Wong Mang</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">luwong123@hotmail.com</div>
                            <div class="col-sm-3 pl-3 center">Desarrollador de Software</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Raúl López Anguiano</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">ropezan_89@gmail.com</div>
                            <div class="col-sm-3 pl-3 center">Desarrollador de Software</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Eduardo Vargas Chará</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">eduvargas123@hotmail.com</div>
                            <div class="col-sm-3 pl-3 center">Departamento de mercadotecnia</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Iván Temir Hirsch</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">itemirhirsch@gmail.com</div>
                            <div class="col-sm-3 pl-3 center">Departamento de Seguridad Informática</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Sofía Acedo Guevara</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">sofigueva123@hotmail.com</div>
                            <div class="col-sm-3 pl-3 center">Departamento de mercadotecnia</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Ricardo Solórzano Silva</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">humbertosol12@gmail.com</div>
                            <div class="col-sm-3 pl-3 center">Departamento de Seguridad Informática</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Emma Gabriela Alfaro de la Rocha</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">emmalfarodlr12@hotmail.com</div>
                            <div class="col-sm-3 pl-3 center">Desarrollador de Software</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    <div class="card my-2 ml-2 mr-4" style="width: 1100px; border-radius: 10px;">
                        <div class="row ml-1" style="height: 60px;">
                            <div class="col-sm-3 order-first center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid rounded-circle" style="width: 28px; height:28px;">
                                <a href="#" style="color: #06152B; padding-left: 8px;">Mariana Navidad Ortega</a>
                            </div>
                            <div class="col-sm-3 pl-4 center">naviortega2025@hotmail.com</div>
                            <div class="col-sm-3 pl-3 center">Departamento de mercadotecnia</div>
                            <div class="col-sm-3 pl-5 order-last center">Empleado</div>
                        </div>
                    </div>
                    
        </div>
        <!--Middle container-->


        <!--Right Container-->
        <div class="UserDetails">
            <div class="card " style="border-radius: 10px; width:320px;">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                             class="rounded-circle img-fluid" style="width: 100px;" />
                    </div>
                    <h4 class="mb-2">Maximiliano Villegas Garcia</h4>
                    <p class="text-muted mb-4">
                        <span class="mx-2">Diseñador UI/UX</span>
                    </p>

                        <!--Contact Info-->
                    <div class="list-group-item list-group-item border-0" style="background-color: #FFFFFF">

                        <div class="d-flex align-items-start center pt-4 pb-1">
                            <p>Info Contacto</p>
                        </div>
                        <div class="d-flex align-items-start border-bottom center py-3">
                            <i class="icon ion-md-mail"></i>
                            <ic>maxivillegas115@gmail.com</ic>
                        </div>
                        <div class="d-flex align-items-start center border-bottom pt-3 pb-1">
                            <p>Estatus: </p>
                            <ic>Empleado</ic>
                        </div>
                        <div class="d-flex align-items-start center pt-3">
                            <ic>
                                <p>CV: <a href="#" class="icon ion-md-document"></a> </p>
                            </ic>
                        </div>
                    </div>
                        <!--Contact Info-->
                </div>
        </div>
        <!--Right Container-->
    </div>
</div>


    <style>
        :root {
            --primary: #909FC7;
            --light: #ffffff;
            --grey: #efefef;
        }

        body {
            font-family: "Muli", sans-serif;
            color: var(--primary);
        }

        a:hover {
            text-decoration: none;
        }

        #sidebar-container {
            min-height: 870px;
            max-width: 200px;
        }

            #sidebar-container .logo {
                padding: .875rem 1.25rem;
            }

            #sidebar-container .menu {
                width: 18rem;
            }

            #sidebar-container .footerProfile {
                position: absolute;
                bottom: 5rem;
                left: 0;
            }

        .usersPage {
            max-height: 870px;
            overflow-y: scroll;

        }

        .titleDash {
            padding-top: 30px;
            padding-left: 28px;
            font-family: "Muli", sans-serif;
            font-weight: 600;
            font-size: 25.63px;
            color: #01060D;
        }

        .colCal {
            bottom: 2rem;
            right: 1rem;
        }

        .UserDetails {
            left: 50rem;
            bottom: 10rem;
            color: black;
        }
        .center {
            display: flex;
            align-items: center;
            color: #06152B;
        }
        ic {
            color: #06152B;
            font-weight:lighter;
            text-align:left;
            padding-left: 8px;
        }
        ul.nav a:hover {
            color: #fff !important;
        }

    </style>
